{% extends 'base.html' %}

 {% block content %}

  <h1 align="center">Assignment 3 PBP/PBD</h1>

  <h5  align="center">Made by: {{nama}} -- {{npm}}</h5>

  <table border="4" bordercolor="rebeccapurple">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% for i in movie_details %}
      <tr>
        <th>{{i.watched}}</th>
        <th>{{i.title}}</th>
        <th>{{i.movie_rating}}</th>
        <th>{{i.release_date}}</th>
        <th>{{i.review}}</th>
      </tr>
    {% endfor %}
    {% comment %} Add the data below this line {% endcomment %}
  </table>

 {% endblock content %}
